/* Colors:
primary: #B0A59C
secondary: #E0E6E0
accent: #9CA6B0

text: #0E0B0E
background: #FDFCFD

*/

@import url('https://fonts.cdnfonts.com/css/warcraft');

* {
  margin: 0;
  padding: 0;
  background: #E0E6E0;
}

/* Article 2 */
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E0E6E0;
  margin: 5%;
}

/* Article 3 */
.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #E0E6E0;
  margin: 2%;
}

/* Article 4 */
.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #E0E6E0;
  margin: 2%;