/* Colors:
primary: #B0A59C
secondary: #E0E6E0
accent: #9CA6B0
text: #0E0B0E
background: #FDFCFD
*/

@import url('https://fonts.cdnfonts.com/css/warcraft');
* {
  margin: 0;
  padding: 0;
  background: #FDFCFD;
}
/* page header */
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dragonflight-img {
  width: 50%;
  margin: 2%;
}
/* main */
main {
  margin: 0 auto;
  background: #E0E6E0;
}
.main-header {
  background: #E0E6E0;
  margin: 2% 0;
  margin: 2% 0%;
  text-align: center;
  font-family: 'warcraft', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  background: #E0E6E0;
  padding-top: 3%;
}
h2 {
  width: 60%;
  border-radius: 25px;
  background: #9CA6B0;
}

/* Section 1 */


/* Article 1 */
.container {
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: #B0A59C;
  border: 1px solid #000;
  border-radius: 0 0 25px 25px;
  width: 50%;
  height: 50vh;
  height: 25vh;
  padding: 15px;
}
.note-to-user {
  font-size: 14px;
  padding-top: 15px;
  background-color: #B0A59C; 
}
.search-form {
  font-size: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #B0A59C;
}
.charName, .realmName {
  background: #B0A59C;
}
.btn1 {
  background: #9CA6B0;
  display: block;
  margin: 2% auto;
  border-style: solid 1px #000;
  border-radius: 25px;
  width: 25%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn1:hover {
  cursor: pointer;
}

/* Display Avatar - Article 2 */
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E0E6E0;
  margin: 5%;
}

/* PvP Stats - Section 1 */
.pvp-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* 3v3 Stats - Article 3 */
.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #E0E6E0;
  margin: 2%;
}
/* Solo Shuffle Stats - Article 4 */
.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #E0E6E0;
  margin: 2%;
}

/* Gladiator Titles - Article 5 */
.container5 {
  display: hidden;
}

/* Radio forms section */
.radio-forms-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.radio-forms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
  flex-direction: column;
  background: #E0E6E0;
  margin: 2%;
}

.class-title {
  text-align: center;
}
.which-class-do-you-main {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 5%;
  border-radius: 0 0 25px 25px;
  background-color: #B0A59C;
  border: 1px solid #000;
}
.class-form {
  padding: 5%;
}

.expansion-title {
  text-align: center;
}
.when-did-you-start-playing {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  border-radius: 0 0 25px 25px;
  background-color: #B0A59C;
  border: 1px solid #000;
}
.expansion-form {
  padding: 5%;
}

.alliance-or-horde {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  border-radius: 0 0 25px 25px;
  background-color: #B0A59C;
  border: 1px solid #000;
}
.faction-form {
  padding: 5%;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #E0E6E0;
  background-color: #000;
  padding: 5%;
}